<a href="https://colab.research.google.com/github/mohamed2507/Rain-prediction-in-Australia/blob/master/Australia_rain.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
 ! pip install -q kaggle

In [2]:
from google.colab import files
files.upload()

Saving kaggle.json to kaggle.json

{'kaggle.json': b'{"username":"mohamedbenmaiza","key":"37ad3fb646a73e153fbf9b92783cbae4"}'}

In [3]:
! mkdir ~/.kaggle

In [4]:
! cp kaggle.json ~/.kaggle/

In [5]:
 ! chmod 777 ~/.kaggle/kaggle.json

In [6]:
 ! kaggle datasets list

Warning: Your Kaggle API key is readable by other users on this system! To fix this, you can run 'chmod 600 /root/.kaggle/kaggle.json'
Warning: Looks like you're using an outdated API Version, please consider updating (server 1.5.12 / client 1.5.4)
ref                                                         title                                              size  lastUpdated          downloadCount
----------------------------------------------------------  ------------------------------------------------  -----  -------------------  -------------
gpreda/reddit-vaccine-myths                                 Reddit Vaccine Myths                              235KB  2021-10-01 17:39:01          13465
crowww/a-large-scale-fish-dataset                           A Large Scale Fish Dataset                          3GB  2021-04-28 17:03:01           8084
imsparsh/musicnet-dataset                                   MusicNet Dataset                                   22GB  2021-02-18 14:12:19           3569
fatiimaezzahra/famous-iconic-women                          Famous Iconic Women                               838MB  2021-02-28 14:56:00           1538
dhruvildave/wikibooks-dataset                               Wikibooks Dataset                                   2GB  2021-07-03 18:37:20           3105
nickuzmenkov/nih-chest-xrays-tfrecords                      NIH Chest X-rays TFRecords                         11GB  2021-03-09 04:49:23           1290
promptcloud/careerbuilder-job-listing-2020                  Careerbuilder Job Listing 2020                     42MB  2021-03-05 06:59:52           2116
mathurinache/twitter-edge-nodes                             Twitter Edge Nodes                                342MB  2021-03-08 06:43:04           1034
coloradokb/dandelionimages                                  DandelionImages                                     4GB  2021-02-19 20:03:47            919
alsgroup/end-als                                            End ALS Kaggle Challenge                           12GB  2021-04-08 12:16:37            954
simiotic/github-code-snippets                               GitHub Code Snippets                                7GB  2021-03-03 11:34:39            377
stuartjames/lights                                          LightS: Light Specularity Dataset                  18GB  2021-02-18 14:32:26            169
mathurinache/the-lj-speech-dataset                          The LJ Speech Dataset                               3GB  2021-02-15 09:19:54            377
nickuzmenkov/ranzcr-clip-kfold-tfrecords                    RANZCR CLiP KFold TFRecords                         2GB  2021-02-21 13:29:51            138
imsparsh/accentdb-core-extended                             AccentDB - Core & Extended                          6GB  2021-02-17 14:22:54            153
landrykezebou/lvzhdr-tone-mapping-benchmark-dataset-tmonet  LVZ-HDR Tone Mapping Benchmark Dataset (TMO-Net)   24GB  2021-03-01 05:03:40            212
zynicide/wine-reviews                                       Wine Reviews                                       51MB  2017-11-27 17:08:04         145414
datasnaek/youtube-new                                       Trending YouTube Video Statistics                 201MB  2019-06-03 00:56:47         153658
datasnaek/chess                                             Chess Game Dataset (Lichess)                        3MB  2017-09-04 03:09:09          22716
residentmario/ramen-ratings                                 Ramen Ratings                                      40KB  2018-01-11 16:04:39          27914

In [7]:
!kaggle datasets download -d jsphyg/weather-dataset-rattle-package

Warning: Your Kaggle API key is readable by other users on this system! To fix this, you can run 'chmod 600 /root/.kaggle/kaggle.json'
Downloading weather-dataset-rattle-package.zip to /content
  0% 0.00/3.83M [00:00<?, ?B/s]
100% 3.83M/3.83M [00:00<00:00, 63.5MB/s]

In [8]:
! unzip weather-dataset-rattle-package.zip -d /content/

Archive:  weather-dataset-rattle-package.zip
  inflating: /content/weatherAUS.csv

In [9]:
import pandas as pd

In [10]:
data =pd.read_csv("/content/weatherAUS.csv")

In [11]:
data.head()

         Date Location  MinTemp  ...  Temp3pm  RainToday  RainTomorrow
0  2008-12-01   Albury     13.4  ...     21.8         No            No
1  2008-12-02   Albury      7.4  ...     24.3         No            No
2  2008-12-03   Albury     12.9  ...     23.2         No            No
3  2008-12-04   Albury      9.2  ...     26.5         No            No
4  2008-12-05   Albury     17.5  ...     29.7         No            No

[5 rows x 23 columns]

In [12]:
data.shape

(145460, 23)

In [20]:
data.isna().any()

Date             False
Location         False
MinTemp          False
MaxTemp          False
Rainfall         False
Evaporation      False
Sunshine         False
WindGustDir      False
WindGustSpeed    False
WindDir9am       False
WindDir3pm       False
WindSpeed9am     False
WindSpeed3pm     False
Humidity9am      False
Humidity3pm      False
Pressure9am      False
Pressure3pm      False
Cloud9am         False
Cloud3pm         False
Temp9am          False
Temp3pm          False
RainToday        False
RainTomorrow     False
dtype: bool

In [14]:
data['MinTemp']=data['MinTemp'].fillna(data['MinTemp'].mean())

In [15]:
for t in data.loc[:,data.isna().any()]:
  if(data[t].dtype=="float64"):
    data[t]=data[t].fillna(data[t].mean())

In [17]:
data.shape[0]-data.isna().any(axis=1).sum()

123710

In [18]:
data=data[data.isna().any(axis=1)==False]

In [19]:
data.loc[:,data.isna().any()]

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 66, 67, 68, 69, 70, 71, 72, 73, 74, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 87, 90, 91, 92, 93, 94, 96, 97, 98, 99, 100, 101, 103, 104, 105, 106, 107, 108, 109, 111, ...]

[123710 rows x 0 columns]

In [21]:
data=data.drop(labels="Date",axis=1)

In [22]:
for t in data:
  if(data[t].dtype=="object"):
    print(t)
data=pd.get_dummies(data,columns=["Location","WindGustDir","WindDir9am","WindDir3pm","RainToday"])

Location
WindGustDir
WindDir9am
WindDir3pm
RainToday
RainTomorrow

In [23]:
data.loc[data["RainTomorrow"]=="No","RainTomorrow"]=0
data.loc[data["RainTomorrow"]=="Yes","RainTomorrow"]=1
data["RainTomorrow"].value_counts()

0    96318
1    27392
Name: RainTomorrow, dtype: int64

In [24]:
data.head()

   MinTemp  MaxTemp  Rainfall  ...  WindDir3pm_WSW  RainToday_No  RainToday_Yes
0     13.4     22.9       0.6  ...               0             1              0
1      7.4     25.1       0.0  ...               1             1              0
2     12.9     25.7       0.0  ...               1             1              0
3      9.2     28.0       0.0  ...               0             1              0
4     17.5     32.3       1.0  ...               0             1              0

[5 rows x 114 columns]

In [25]:
print(data.isna().any().sum())
data=data[data.isna().any(axis=1)==False]
data.isna().any().sum()

0

0

In [28]:
d0=data[data['RainTomorrow']==0].sample(50000)
d1=data[data['RainTomorrow']==1].sample(50000,replace=True)
data=pd.concat([d0,d1])

In [44]:
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test=train_test_split(data.loc[:,data.columns!="RainTomorrow"],data.loc[:,"RainTomorrow"],test_size=0.2,shuffle=True)

In [45]:
X_test.head()

        MinTemp  MaxTemp  Rainfall  ...  WindDir3pm_WSW  RainToday_No  RainToday_Yes
83827      18.4     29.4      23.8  ...               0             0              1
112675     17.5     25.6       0.2  ...               0             1              0
7238        5.0     18.4       0.0  ...               0             1              0
84580      21.5     32.5       0.0  ...               0             1              0
28100       6.0     17.0       0.0  ...               0             1              0

[5 rows x 113 columns]

In [46]:
X_train=X_train.to_numpy().astype('float32')
Y_train=Y_train.to_numpy().astype('float32')
X_test=X_test.to_numpy().astype('float32')
Y_test=Y_test.to_numpy().astype('float32')

In [47]:
from keras.models import Sequential
from keras.layers import Dense
from tensorflow.keras import regularizers
import tensorflow as tf

In [48]:
model=Sequential([
               Dense(16,input_shape=(113,),activation="relu"),
               Dense(32,activation="relu"),
               Dense(64,activation="relu"),
               Dense(128,activation="relu"),
               Dense(256,activation="relu"),
               Dense(1,activation="sigmoid"),   
])
model.summary()

Model: "sequential_3"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_18 (Dense)             (None, 16)                1824
_________________________________________________________________
dense_19 (Dense)             (None, 32)                544
_________________________________________________________________
dense_20 (Dense)             (None, 64)                2112
_________________________________________________________________
dense_21 (Dense)             (None, 128)               8320
_________________________________________________________________
dense_22 (Dense)             (None, 256)               33024
_________________________________________________________________
dense_23 (Dense)             (None, 1)                 257
=================================================================
Total params: 46,081
Trainable params: 46,081
Non-trainable params: 0
_________________________________________________________________

In [49]:
model.compile(loss="binary_crossentropy",optimizer="adam",metrics=['accuracy'])

In [50]:
callback=tf.keras.callbacks.EarlyStopping(patience=3)

In [51]:
model.fit(X_train,Y_train,epochs=10,batch_size=32,validation_data=(X_test,Y_test),callbacks=[callback])

Epoch 1/10
2500/2500 [==============================] - 6s 2ms/step - loss: 0.4945 - accuracy: 0.7609 - val_loss: 0.4704 - val_accuracy: 0.7745
Epoch 2/10
2500/2500 [==============================] - 6s 2ms/step - loss: 0.4593 - accuracy: 0.7834 - val_loss: 0.4870 - val_accuracy: 0.7623
Epoch 3/10
2500/2500 [==============================] - 6s 2ms/step - loss: 0.4571 - accuracy: 0.7849 - val_loss: 0.4510 - val_accuracy: 0.7880
Epoch 4/10
2500/2500 [==============================] - 6s 2ms/step - loss: 0.4549 - accuracy: 0.7869 - val_loss: 0.4658 - val_accuracy: 0.7778
Epoch 5/10
2500/2500 [==============================] - 6s 2ms/step - loss: 0.4524 - accuracy: 0.7885 - val_loss: 0.4495 - val_accuracy: 0.7898
Epoch 6/10
2500/2500 [==============================] - 6s 2ms/step - loss: 0.4507 - accuracy: 0.7884 - val_loss: 0.4492 - val_accuracy: 0.7896
Epoch 7/10
2500/2500 [==============================] - 6s 2ms/step - loss: 0.4495 - accuracy: 0.7897 - val_loss: 0.4631 - val_accuracy: 0.7854
Epoch 8/10
2500/2500 [==============================] - 6s 2ms/step - loss: 0.4489 - accuracy: 0.7898 - val_loss: 0.4490 - val_accuracy: 0.7932
Epoch 9/10
2500/2500 [==============================] - 6s 2ms/step - loss: 0.4473 - accuracy: 0.7907 - val_loss: 0.4544 - val_accuracy: 0.7835
Epoch 10/10
2500/2500 [==============================] - 6s 2ms/step - loss: 0.4480 - accuracy: 0.7913 - val_loss: 0.4559 - val_accuracy: 0.7811

In [52]:
model.evaluate(X_test,Y_test)

625/625 [==============================] - 1s 1ms/step - loss: 0.4559 - accuracy: 0.7811

[0.4559234380722046, 0.7810999751091003]

In [53]:
prediction=model.predict(X_test)
prediction[prediction>0.5]=1
prediction[prediction<0.5]=0

In [54]:
from sklearn.metrics import confusion_matrix
c=confusion_matrix(Y_test,prediction)

In [56]:
precision =c[0,0]/(c[0,0]+c[0,1])
recall =c[0,0]/(c[0,0]+c[1,0])
f1_score=2*(precision*recall)/(precision+recall)
print('f1_score: '+str(f1_score ))
print("precision: ",precision)
print("recall: ",recall)

f1_score: 0.7934126085315213
precision:  0.8422159887798036
recall:  0.7499553969669938